.body{
    width: 960px;
   margin:auto;

}
header{
    text-align: center;
    background-color: burlywood;
}
header img{
    text-align: center;
    width: 100px;
}
header h2{
    color: brown;
    font-size: xx-large ;
}

img{
    width: 100%;
}
.image-section{
   
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    padding: 20px;
    gap: 20px;
}
.list{
    font-size: large;
    color: rgb(47, 54, 150);
    text-align: center;
}
.chart{
    width: 400px;
    height: 400px;
}